In [1]:
# Efetivo(interno)
# Jornada > Carga hora
# Area de conhecimento
# Segunda habilitação
# Preferencia
# 
#

In [2]:
import pandas as pd
import os

# Carregue a planilha original'
base_professores = pd.read_excel('prof.xlsx')
base_escolas = pd.read_excel('escolas.xlsx')

# base_professores = base_professores.sort_values(by=['DATA_EXERCICIO', 'SEGUNDA_HABILITACAO', 'area_conhecimento', 'INTERNO', 'EFETIVO'], ascending=[True, False, False, False, False])

base_professores = base_professores.sort_values(by='DATA_EXERCICIO', ascending=True)
base_professores = base_professores.sort_values(by='SEGUNDA_HABILITACAO', ascending=False)
base_professores = base_professores.sort_values(by='area_conhecimento', ascending=False)
base_professores = base_professores.sort_values(by='INTERNO', ascending=False)
base_professores = base_professores.sort_values(by='EFETIVO', ascending=False)
display(base_professores)

preferencias = [base_professores.at[13, f'PREFERENCIA {i}'] for i in range(1, 6)]
print(preferencias)
# Salvar as linhas filtradas em uma nova planilha

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,MATRICULA,VINCULO,...,ANO_LETIVO,DISCIPLINA,CH_SEMANAL,valor,area_conhecimento,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
9,01A URE - BRAGANCA,NaN,BRAGANCA,10,15057046,1920914340000,EEEFM DO ROCHA,2002,5951384,1,...,2023,HISTORIA,3,9,SIM,1,9,8,10,5
0,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920910000000,EE ANDRE ALVES,2003,5948590,1,...,2023,GEOGRAFIA,23,7,SIM,1,2,3,4,5
2,01A URE - BRAGANCA,NaN,BRAGANCA,6,15056929,1920913430000,EEEF PROFA ARGENTINA PEREIRA,2002,5973168,1,...,2023,HISTORIA,4,6,SIM,6,3,5,2,7
13,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,2002,57219332,3,...,2023,HISTORIA,2,1,SIM,2,8,3,9,1
12,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920910000000,EE ANDRE ALVES,1,5447712,1,...,2023,MATEMATICA,3,7,NÃO,1,7,2,10,6
1,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,2003,5936943,1,...,2023,GEOGRAFIA,5,4,NÃO,2,3,4,5,6
10,01A URE - BRAGANCA,NaN,BRAGANCA,9,15056767,1920913390000,EEEFM AUGUSTO CORREA,2002,5908727,2,...,2023,HISTORIA,3,5,NÃO,9,6,7,8,4
11,01A URE - BRAGANCA,NaN,BRAGANCA,8,15058832,1920913570000,EEEFM ALBINO CARDOSO,2002,5908727,2,...,2023,HISTORIA,3,5,SIM,2,4,7,1,3
14,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,1,5939213,1,...,2023,MATEMATICA,2,1,NÃO,1,9,8,10,5
5,01A URE - BRAGANCA,NaN,BRAGANCA,9,15056767,1920913390000,EEEFM AUGUSTO CORREA,2002,5936943,1,...,2023,HISTORIA,3,5,NÃO,4,6,7,8,5
7,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2002,5923338,2,...,2023,HISTORIA,3,7,NÃO,10,9,8,7,6
8,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057194,1920913510000,EEEF PROF YOLANDA CHAVES,2002,5951384,1,...,2023,HISTORIA,3,1,SIM,5,8,3,9,1
3,01A URE - BRAGANCA,NaN,BRAGANCA,7,15540332,1920931430000,EEEF SANTA TEREZINHA,2002,5971966,1,...,2023,HISTORIA,3,1,NÃO,7,1,8,5,3
6,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,5974417,1,...,2023,HISTORIA,3,5,SIM,2,4,7,6,9
4,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920910000000,EE ANDRE ALVES,2003,5922696,2,...,2023,GEOGRAFIA,3,9,SIM,2,9,8,10,5

[2, 8, 3, 9, 1]

In [3]:

display(base_escolas)
prof_lotados = pd.DataFrame(columns=base_professores.columns)
display(prof_lotados)

# Iterar sobre os valores da coluna 'VAGAS' em base_escolas
for linha in range(len(base_escolas)):
    numero_vagas = base_escolas.at[linha, 'VAGAS']
    escola = base_escolas.iloc[linha:linha+1]  # Selecionar a linha correspondente na base_escolas
    linhas_escola = [escola] * numero_vagas  # Repetir a linha 'numero_vagas' vezes
    prof_lotados = pd.concat([prof_lotados, *linhas_escola], ignore_index=True)
prof_lotados = prof_lotados.drop('VAGAS', axis=1)
vagas_escolas = pd.DataFrame(prof_lotados)
display(vagas_escolas)
# Exibir o DataFrame resultante

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,VAGAS
0,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,2
1,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,2003,1
2,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,2
3,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2003,1
4,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057194,1920913510000,EEEF PROF YOLANDA CHAVES,2002,2
5,01A URE - BRAGANCA,NaN,BRAGANCA,6,15056929,1920913430000,EEEF PROFA ARGENTINA PEREIRA,2002,2
6,01A URE - BRAGANCA,NaN,BRAGANCA,7,15540332,1920931430000,EEEF SANTA TEREZINHA,2002,1
7,01A URE - BRAGANCA,NaN,BRAGANCA,8,15058832,1920913570000,EEEFM ALBINO CARDOSO,2003,1
8,01A URE - BRAGANCA,NaN,BRAGANCA,9,15056767,1920913390000,EEEFM AUGUSTO CORREA,2002,1
9,01A URE - BRAGANCA,NaN,BRAGANCA,10,15057046,1920914340000,EEEFM DO ROCHA,2002,2

Empty DataFrame
Columns: [URE, USE, MUNICIPIO, COD_ESCOLA, COD_MEC, COD_SETOR, ESCOLA, COD_DISCIPLINA, MATRICULA, VINCULO, SERVIDOR, EFETIVO, INTERNO, DATA_EXERCICIO, COD_ETAPA, ETAPA, SEGUNDA_HABILITACAO, ANO_LETIVO, DISCIPLINA, CH_SEMANAL, valor, area_conhecimento, PREFERENCIA 1, PREFERENCIA 2, PREFERENCIA 3, PREFERENCIA 4, PREFERENCIA 5]
Index: []

[0 rows x 27 columns]

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,MATRICULA,VINCULO,...,ANO_LETIVO,DISCIPLINA,CH_SEMANAL,valor,area_conhecimento,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
0,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057194,1920913510000,EEEF PROF YOLANDA CHAVES,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057194,1920913510000,EEEF PROF YOLANDA CHAVES,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,01A URE - BRAGANCA,NaN,BRAGANCA,6,15056929,1920913430000,EEEF PROFA ARGENTINA PEREIRA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,01A URE - BRAGANCA,NaN,BRAGANCA,6,15056929,1920913430000,EEEF PROFA ARGENTINA PEREIRA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,01A URE - BRAGANCA,NaN,BRAGANCA,7,15540332,1920931430000,EEEF SANTA TEREZINHA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,01A URE - BRAGANCA,NaN,BRAGANCA,8,15058832,1920913570000,EEEFM ALBINO CARDOSO,2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,01A URE - BRAGANCA,NaN,BRAGANCA,9,15056767,1920913390000,EEEFM AUGUSTO CORREA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,01A URE - BRAGANCA,NaN,BRAGANCA,10,15057046,1920914340000,EEEFM DO ROCHA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,01A URE - BRAGANCA,NaN,BRAGANCA,10,15057046,1920914340000,EEEFM DO ROCHA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
numero_de_linhas = len(base_escolas)
#display(base_professores)
voltas = 1
colunas_desejadas = ['COD_DISCIPLINA', 'MATRICULA', 'VINCULO', 'SERVIDOR', 'EFETIVO', 'INTERNO', 'DATA_EXERCICIO', 'COD_ETAPA', 'ETAPA', 'SEGUNDA_HABILITACAO', 'ANO_LETIVO', 'DISCIPLINA', 'CH_SEMANAL', 'valor', 'area_conhecimento', 'PREFERENCIA 1', 'PREFERENCIA 2', 'PREFERENCIA 3', 'PREFERENCIA 4', 'PREFERENCIA 5']
lotacao = pd.DataFrame(columns=base_professores.columns)
lotados = pd.DataFrame(columns=base_professores.columns)
professores = pd.DataFrame(columns=colunas_desejadas)
nao_preenchido = pd.DataFrame({'MATRICULA': ['NAO PREENCHIDO']})
for linha in range(numero_de_linhas):
    # Filtrar professores com base no código de disciplina da escola
    numero_vagas = base_escolas.at[linha, 'VAGAS']
    professores_filtrados = base_professores[base_professores['COD_DISCIPLINA'] == base_escolas.at[linha, 'COD_DISCIPLINA']]
    lotacao = base_professores[base_professores['COD_DISCIPLINA'] == base_escolas.at[linha, 'COD_DISCIPLINA']]
    lotacao = lotacao.reset_index(drop=True)
    for linha_lotacao in range(len(lotacao)):
        preferencias = [lotacao.at[linha_lotacao, f'PREFERENCIA {i}'] for i in range(1, 6)]
        if lotacao.at[linha_lotacao, 'COD_ESCOLA'] in preferencias:
            if lotacao.at[linha_lotacao, 'COD_ESCOLA'] == base_escolas.at[linha, 'COD_ESCOLA'] and lotacao.at[linha_lotacao, 'INTERNO'] == 'SIM' and lotacao.at[linha_lotacao, 'EFETIVO'] == 'SIM':
                print('cond1')
                #professores_filtrados = professores_filtrados.iloc[:, 7:]
                lotados = pd.concat([lotados, professores_filtrados.iloc[linha_lotacao:linha_lotacao+1]], ignore_index=True)

                #prof_lotados = pd.concat([prof_lotados, professores_filtrados.iloc[linha_lotacao:linha_lotacao+1]], ignore_index=True)


                linha_a_adicionar = professores_filtrados.iloc[linha_lotacao:linha_lotacao+1][colunas_desejadas]
                professores = pd.concat([professores, linha_a_adicionar], ignore_index=True, axis=0)
                prof_lotados = pd.concat([prof_lotados, linha_a_adicionar], ignore_index=True, axis=0)

                indexes_to_drop = professores_filtrados.iloc[linha_lotacao:linha_lotacao+1].index
                base_professores.drop(indexes_to_drop, inplace=True)               
            #     display(professores_filtrados)
            # elif lotacao.at[linha_lotacao, 'COD_ESCOLA'] != base_escolas.at[linha, 'COD_ESCOLA'] and lotacao.at[linha_lotacao, 'INTERNO'] == 'NAO':
            #     display(professores_filtrados)
            #     print('cond2')
            #     lotados = pd.concat([lotados, professores_filtrados.iloc[linha_lotacao:linha_lotacao+1]], ignore_index=True)
            #     prof_lotados = pd.concat([prof_lotados, professores_filtrados.iloc[linha_lotacao:linha_lotacao+1]], ignore_index=True)
            #     indexes_to_drop = professores_filtrados.iloc[linha_lotacao:linha_lotacao+1].index
            #     base_professores.drop(indexes_to_drop, inplace=True)

    
    if numero_vagas > len(lotados):
        vagas_abertas = numero_vagas - len(lotados)
        for n in range(vagas_abertas):
            professores = pd.concat([professores, nao_preenchido], ignore_index=True)
            prof_lotados = pd.concat([prof_lotados, nao_preenchido], ignore_index=True)
    
    lotados = lotados.iloc[0:0]


    # Concatenar os DataFrames
    #prof_lotados = pd.concat([prof_lotados, lotacao], ignore_index=True)

    

    # Garantir que 'professores_filtrados' seja um DataFrame mesmo se for vazio
    if isinstance(professores_filtrados, pd.Series):
        professores_filtrados = professores_filtrados.to_frame().T
    professores_filtrados = professores_filtrados.head(numero_vagas)

    #professores_filtrados = base_professores[base_professores['INTERNO'] == 'SIM']

    #if numero_vagas > len(professores_filtrados):
    #    for vagas_abertas in range(numero_vagas - len(professores_filtrados)):
    #        nova_linha = pd.DataFrame({'MATRICULA': ['VAGA EM ABERTO']})
    #        professores_filtrados = professores_filtrados.append(nova_linha, ignore_index=True)



    # Remover linhas concatenadas do DataFrame original (professores)
    # indexes_to_drop = professores_filtrados.index
    # base_professores.drop(indexes_to_drop, inplace=True)
    
    print('loop ',voltas)
    voltas += 1
    


display(professores)
#prof_lotados = pd.concat([linha_numero_3, linha_numero_4], ignore_index=True)
display(prof_lotados)
prof_lotados.to_excel('Professores_Lotados.xlsx', index=False)

cond1
loop  1
cond1
loop  2
loop  3
loop  4
loop  5
cond1
loop  6
loop  7
loop  8
cond1
loop  9
cond1
loop  10

C:\Users\luizh\AppData\Local\Temp\ipykernel_8404\551209815.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  lotados = pd.concat([lotados, professores_filtrados.iloc[linha_lotacao:linha_lotacao+1]], ignore_index=True)
C:\Users\luizh\AppData\Local\Temp\ipykernel_8404\551209815.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  professores = pd.concat([professores, linha_a_adicionar], ignore_index=True, axis=0)
C:\Users\luizh\AppData\Local\Temp\ipykernel_8404\551209815.py:28: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  prof_lotados = pd.concat([prof_lotados, linha_a_adicionar], ignore_index=True, axis=0)

,COD_DISCIPLINA,MATRICULA,VINCULO,SERVIDOR,EFETIVO,INTERNO,DATA_EXERCICIO,COD_ETAPA,ETAPA,SEGUNDA_HABILITACAO,ANO_LETIVO,DISCIPLINA,CH_SEMANAL,valor,area_conhecimento,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
0,1,5447712,1,Professor 13,SIM,SIM,2020-11-05,1,PRIMEIRO,NÃO,2023,MATEMATICA,3,7,NÃO,1,7,2,10,6
1,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,5936943,1,Professor 2,SIM,SIM,2020-11-21,3,TERCEIRO,NÃO,2023,GEOGRAFIA,5,4,NÃO,2,3,4,5,6
3,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2002,5973168,1,Professor 3,SIM,SIM,2020-11-18,3,TERCEIRO,SIM,2023,HISTORIA,4,6,SIM,6,3,5,2,7
9,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2002,5908727,2,Professor 11,SIM,SIM,2020-11-21,1,PRIMEIRO,NÃO,2023,HISTORIA,3,5,NÃO,9,6,7,8,4
13,2002,5951384,1,Professor 10,SIM,SIM,2020-11-12,3,TERCEIRO,SIM,2023,HISTORIA,3,9,SIM,1,9,8,10,5
14,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,MATRICULA,VINCULO,...,ANO_LETIVO,DISCIPLINA,CH_SEMANAL,valor,area_conhecimento,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
0,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057194,1920913510000,EEEF PROF YOLANDA CHAVES,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057194,1920913510000,EEEF PROF YOLANDA CHAVES,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,01A URE - BRAGANCA,NaN,BRAGANCA,6,15056929,1920913430000,EEEF PROFA ARGENTINA PEREIRA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,01A URE - BRAGANCA,NaN,BRAGANCA,6,15056929,1920913430000,EEEF PROFA ARGENTINA PEREIRA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,01A URE - BRAGANCA,NaN,BRAGANCA,7,15540332,1920931430000,EEEF SANTA TEREZINHA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,01A URE - BRAGANCA,NaN,BRAGANCA,8,15058832,1920913570000,EEEFM ALBINO CARDOSO,2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,01A URE - BRAGANCA,NaN,BRAGANCA,9,15056767,1920913390000,EEEFM AUGUSTO CORREA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,01A URE - BRAGANCA,NaN,BRAGANCA,10,15057046,1920914340000,EEEFM DO ROCHA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,01A URE - BRAGANCA,NaN,BRAGANCA,10,15057046,1920914340000,EEEFM DO ROCHA,2002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5447712,1,...,2023,MATEMATICA,3,7,NÃO,1,7,2,10,6
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003,5936943,1,...,2023,GEOGRAFIA,5,4,NÃO,2,3,4,5,6
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,5973168,1,...,2023,HISTORIA,4,6,SIM,6,3,5,2,7
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,5908727,2,...,2023,HISTORIA,3,5,NÃO,9,6,7,8,4
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,5951384,1,...,2023,HISTORIA,3,9,SIM,1,9,8,10,5
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NAO PREENCHIDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
professores_migrando = professores[professores['MATRICULA'] == 'NAO PREENCHIDO']
for indice, linha in professores_migrando.iterrows():
    #print(f"Índice: {indice}")
    #print(vagas_escolas.at[indice, 'COD_DISCIPLINA'])
    professores_filtrados = base_professores[base_professores['COD_DISCIPLINA'] == vagas_escolas.at[indice, 'COD_DISCIPLINA']]
    lotacao = base_professores[base_professores['COD_DISCIPLINA'] == vagas_escolas.at[indice, 'COD_DISCIPLINA']]
    lotacao = lotacao.reset_index(drop=True)
    for linha_lotacao in range(len(lotacao)):
        preferencias = [lotacao.at[linha_lotacao, f'PREFERENCIA {i}'] for i in range(1, 6)]
        if lotacao.at[linha_lotacao, 'COD_ESCOLA'] in preferencias:
            linha_a_adicionar = professores_filtrados.iloc[linha_lotacao:linha_lotacao+1][colunas_desejadas]
            professores.loc[indice] = linha_a_adicionar.values[0]
            indexes_to_drop = professores_filtrados.iloc[linha_lotacao:linha_lotacao+1].index
            base_professores.drop(indexes_to_drop, inplace=True) 
            
display(professores)            
display(base_professores)

,COD_DISCIPLINA,MATRICULA,VINCULO,SERVIDOR,EFETIVO,INTERNO,DATA_EXERCICIO,COD_ETAPA,ETAPA,SEGUNDA_HABILITACAO,ANO_LETIVO,DISCIPLINA,CH_SEMANAL,valor,area_conhecimento,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
0,1,5447712,1,Professor 13,SIM,SIM,2020-11-05,1,PRIMEIRO,NÃO,2023,MATEMATICA,3,7,NÃO,1,7,2,10,6
1,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,5936943,1,Professor 2,SIM,SIM,2020-11-21,3,TERCEIRO,NÃO,2023,GEOGRAFIA,5,4,NÃO,2,3,4,5,6
3,2002,5971966,1,Professor 4,NÃO,SIM,2020-11-16,1,PRIMEIRO,NÃO,2023,HISTORIA,3,1,NÃO,7,1,8,5,3
4,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2003,5948590,1,Professor 1,SIM,SIM,2020-11-13,1,Primeira,SIM,2023,GEOGRAFIA,23,7,SIM,1,2,3,4,5
6,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2002,5973168,1,Professor 3,SIM,SIM,2020-11-18,3,TERCEIRO,SIM,2023,HISTORIA,4,6,SIM,6,3,5,2,7
9,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2002,5908727,2,Professor 11,SIM,SIM,2020-11-21,1,PRIMEIRO,NÃO,2023,HISTORIA,3,5,NÃO,9,6,7,8,4
13,2002,5951384,1,Professor 10,SIM,SIM,2020-11-12,3,TERCEIRO,SIM,2023,HISTORIA,3,9,SIM,1,9,8,10,5
14,NaN,NAO PREENCHIDO,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,MATRICULA,VINCULO,...,ANO_LETIVO,DISCIPLINA,CH_SEMANAL,valor,area_conhecimento,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
11,01A URE - BRAGANCA,NaN,BRAGANCA,8,15058832,1920913570000,EEEFM ALBINO CARDOSO,2002,5908727,2,...,2023,HISTORIA,3,5,SIM,2,4,7,1,3
14,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,1,5939213,1,...,2023,MATEMATICA,2,1,NÃO,1,9,8,10,5
5,01A URE - BRAGANCA,NaN,BRAGANCA,9,15056767,1920913390000,EEEFM AUGUSTO CORREA,2002,5936943,1,...,2023,HISTORIA,3,5,NÃO,4,6,7,8,5
7,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2002,5923338,2,...,2023,HISTORIA,3,7,NÃO,10,9,8,7,6
6,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,5974417,1,...,2023,HISTORIA,3,5,SIM,2,4,7,6,9
4,01A URE - BRAGANCA,NaN,AUGUSTO CORREA,1,15055582,1920910000000,EE ANDRE ALVES,2003,5922696,2,...,2023,GEOGRAFIA,3,9,SIM,2,9,8,10,5

In [6]:
vagas_escolas.fillna(professores, inplace=True)


with pd.ExcelWriter('lotacao.xlsx') as writer:
    vagas_escolas.to_excel(writer, sheet_name='Lotação', index=False)
    base_professores.to_excel(writer, sheet_name='Não Lotados', index=False)

In [7]:




# preferencias = [base_escolas.at[linha, f'PREFERENCIA {i}'] for i in range(1, 6)]