In [141]:
import pandas as pd

class Escola:
    def __init__(self, URE, USE, MUNICIPIO, COD_ESCOLA, COD_MEC, COD_SETOR, ESCOLA, COD_DISCIPLINA, TURNO, INTEGRAL, CH_HORARIA, VAGAS, lista_professores):
        self.URE = URE
        self.USE = USE
        self.MUNICIPIO = MUNICIPIO
        self.COD_ESCOLA = COD_ESCOLA
        self.COD_MEC = COD_MEC
        self.COD_SETOR = COD_SETOR
        self.ESCOLA = ESCOLA
        self.COD_DISCIPLINA = COD_DISCIPLINA
        self.TURNO = TURNO
        self.INTEGRAL = INTEGRAL
        self.CH_HORARIA = CH_HORARIA
        self.VAGAS = VAGAS
        self.lista_professores = lista_professores

# Carregar o DataFrame
base_escolas = pd.read_excel('escolas.xlsx')

# Dicionário para armazenar os objetos Escola
escolas_dict = {}

# Percorrer as linhas do DataFrame
for indice, linha in base_escolas.iterrows():
    # Gerar o nome do objeto
    nome_objeto = f"escola_{linha['COD_ESCOLA']}_{linha['COD_DISCIPLINA']}_{linha['TURNO']}_{linha['CH_HORARIA']}"
    
    # Criar um objeto Escola para cada linha
    escola = Escola(
        linha['URE'],
        linha['USE'],
        linha['MUNICIPIO'],
        linha['COD_ESCOLA'],
        linha['COD_MEC'],
        linha['COD_SETOR'],
        linha['ESCOLA'],
        linha['COD_DISCIPLINA'],
        linha['TURNO'],
        linha['INTEGRAL'],
        linha['CH_HORARIA'],
        linha['VAGAS'],
        lista_professores = []
        # LISTA DE PROFESSORES (VAZIA)
    )
    

    # Adicionar o objeto ao dicionário usando o nome como chave
    escolas_dict[nome_objeto] = escola

for nome_objeto, escola in escolas_dict.items():
    print(f"Nome do objeto: {nome_objeto}, VAGAS: {escola.VAGAS}, Disciplina {escola.COD_DISCIPLINA}")       


# CONTRATAÇÃO POR PREFERENCIA
# SUBTRAI NUMERO DE VAGAS

# CONFERIR REPETIÇÃO NO PRIMEIRO ELEMENTO DAS OUTRAS LISTAS
# REMOÇÃO DO PROFESSOR DE OUTRAS LISTAS

Nome do objeto: escola_1_1_M_40, VAGAS: 2, Disciplina 1
Nome do objeto: escola_1_2002_M_40, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_1_2002_T_40, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_1_2003_T_20, VAGAS: 1, Disciplina 2003
Nome do objeto: escola_2_1_M_40, VAGAS: 1, Disciplina 1
Nome do objeto: escola_2_2002_M_40, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_2_2003_M_40, VAGAS: 1, Disciplina 2003
Nome do objeto: escola_3_1_N_40, VAGAS: 1, Disciplina 1
Nome do objeto: escola_3_2002_N_20, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_3_2003_N_20, VAGAS: 1, Disciplina 2003
Nome do objeto: escola_4_1_M_40, VAGAS: 1, Disciplina 1
Nome do objeto: escola_4_1_T_40, VAGAS: 1, Disciplina 1
Nome do objeto: escola_4_1_N_40, VAGAS: 1, Disciplina 1
Nome do objeto: escola_4_2002_M_20, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_4_2002_T_20, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_4_2002_N_20, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_4_2003_M_40, VAGAS: 1, Disciplina 2003
Nome do objeto: escola_4_2003_T_40, VAGAS: 1, Disciplina 2003
Nome do objeto: escola_4_2003_N_40, VAGAS: 1, Disciplina 2003
Nome do objeto: escola_5_1_M_40, VAGAS: 1, Disciplina 1
Nome do objeto: escola_5_2002_M_40, VAGAS: 1, Disciplina 2002
Nome do objeto: escola_5_2003_M_40, VAGAS: 1, Disciplina 2003

In [142]:
base_professores = pd.read_excel('prof.xlsx')

# base_professores = base_professores.sort_values(by=['DATA_EXERCICIO', 'SEGUNDA_HABILITACAO', 'area_conhecimento', 'INTERNO', 'EFETIVO'], ascending=[True, False, False, False, False])

base_professores = base_professores.sort_values(by='DATA_EXERCICIO', ascending=True)
base_professores = base_professores.sort_values(by='SEGUNDA_HABILITACAO', ascending=False)
base_professores = base_professores.sort_values(by='area_conhecimento', ascending=False)
#base_professores = base_professores.sort_values(by='INTERNO', ascending=False)
base_professores = base_professores.sort_values(by='EFETIVO', ascending=False)

professores_internos = base_professores[base_professores['INTERNO'] == 'SIM']
professores_internos = professores_internos.sort_values(by='CH_TOTAL', ascending=False)
display(professores_internos)

global professores_lotados

professores_lotados = pd.DataFrame(columns=['URE', 'USE', 'MUNICIPIO', 'COD_ESCOLA', 'COD_MEC','COD_SETOR', 'ESCOLA','COD_DISCIPLINA'])

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,SERVIDOR,MATRICULA,...,CH_SEMANAL,CH_TOTAL,area_conhecimento,TURNO_N_APTO,TURNO_CONCENTRADO,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
20,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,1,Professor 21,5951396,...,4,44,SIM,NAO,M,1,2,3,NaN,NaN
10,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2003,Professor 11,5951386,...,4,44,SIM,N,M,1,2,3,NaN,NaN
0,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2002,Professor 1,5948590,...,4,44,SIM,NAO,M,1,2,3,NaN,NaN
2,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2002,Professor 3,5973168,...,4,40,SIM,NAO,M,3,1,2,NaN,NaN
12,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2003,Professor 13,5951388,...,4,40,SIM,T,N,3,1,2,NaN,NaN
21,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,1,Professor 22,5951397,...,5,40,NAO,NAO,T,2,3,4,NaN,NaN
11,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,2003,Professor 12,5951387,...,5,40,NAO,M,T,2,3,4,NaN,NaN
1,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,2002,Professor 2,5936943,...,5,40,NAO,NAO,T,2,3,4,NaN,NaN
22,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,1,Professor 23,5951398,...,4,40,SIM,NAO,N,3,1,2,NaN,NaN
13,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2003,Professor 14,5951389,...,3,39,NAO,NAO,T,4,3,2,NaN,NaN
23,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,1,Professor 24,5951399,...,3,39,NAO,NAO,T,4,3,2,NaN,NaN
3,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2002,Professor 4,5971966,...,3,39,NAO,NAO,T,4,3,2,NaN,NaN

In [143]:
def desempate():
    for nome_objeto, escola in escolas_dict.items():
        if escola.lista_professores:
            professor = escola.lista_professores[0]
            carencia = escola.VAGAS - len(escola.lista_professores)

            for index, prof in base_professores.iterrows():
                prof_turno = prof['TURNO_CONCENTRADO']

            
            for objeto_verificado, escola_verificada in escolas_dict.items():
                if objeto_verificado != nome_objeto:  # Garante que não estamos verificando a mesma escola

                    if professor in escola_verificada.lista_professores:
                        indice = escola_verificada.lista_professores.index(professor)
                        carencia_verificada = escola_verificada.VAGAS - len(escola_verificada.lista_professores)
                        top3 = 0, 1, 2


                        if escola.VAGAS == 0 and escola.lista_professores:
                            escola.lista_professores.pop(0)
                            continue
                        elif escola_verificada.VAGAS == 0 and escola_verificada.lista_professores:
                            escola_verificada.lista_professores.pop(0)
                            continue
                        else:

                            if indice + 1 > escola_verificada.VAGAS: # Garante que o professore podera ser lotado em ambas as escolas
                                pass

                            elif indice + 1 <= escola_verificada.VAGAS:

                                    preferencias = []
                                    for index, servidor in base_professores.iterrows():
                                        if professor == servidor['SERVIDOR']:
                                            preferencias = [base_professores.at[index, f'PREFERENCIA {i}'] for i in range(1, 6)]
                                            break
                                    try:
                                        escola1 = preferencias.index(escola.COD_ESCOLA)
                                    except ValueError:
                                        escola1 = -1
                                    try:
                                        escola2 = preferencias.index(escola_verificada.COD_ESCOLA)
                                    except ValueError:
                                        escola2 = -1

                                    if indice > 0: # TOP 3 PREFERENCIAS
                                        print(carencia_verificada)
                                        if carencia_verificada > -1 and indice in top3:
                                            escola.lista_professores.pop(0)
                                            print(f'Popando da {nome_objeto}, a {objeto_verificado} tem carencia {carencia_verificada}')
                                        else:
                                            escola_verificada.lista_professores.pop(indice)
                                        
                                    else:

                                        if escola1 >= 0 and escola2 < 0:                    #  Professor sem preferencia pela Escola Verificada
                                            escola_verificada.lista_professores.pop(0)

                                        elif escola2 >= 0 and escola1 < 0:                  #  Professor sem preferencia pela Escola
                                            escola.lista_professores.pop(0)

                                        elif escola1 >= 0 and escola2 >= 0:                 #  Professor com preferencia em ambas
                                            if escola1 < escola2:                           # Verificando qual a primeira prefencia
                                                escola_verificada.lista_professores.pop(0)
                                            elif escola1 > escola2: 
                                                escola.lista_professores.pop(0)
                                            else:
                                                if carencia_verificada == 0:
                                                    if carencia > 0:
                                                        escola_verificada.lista_professores.pop(0)
                                                    elif carencia < 0:
                                                        escola.lista_professores.pop(0)
                                                    else:
                                                        escola_verificada.lista_professores.pop(0)  # A DENFINIR MELHOR CRITE
                                                else:
                                                    if carencia_verificada > 0:
                                                        escola.lista_professores.pop(0)
                                                    elif carencia_verificada < 0:
                                                        escola_verificada.lista_professores.pop(0)
                                        
                                        elif escola1 < 0 and escola2 < 0:                   #  Professor sem preferencia em ambas
                                                # Verificando maior carencia
                                            if carencia_verificada == 0:
                                                if carencia > 0:
                                                    escola_verificada.lista_professores.pop(0)
                                                elif carencia < 0:
                                                    escola.lista_professores.pop(0)
                                                else:
                                                    escola_verificada.lista_professores.pop(0)  # A DENFINIR MELHOR CRITE
                                            else:
                                                if carencia_verificada > 0:
                                                    escola.lista_professores.pop(0)
                                                elif carencia_verificada < 0:
                                                    escola_verificada.lista_professores.pop(0)



                                    


    print('-'*20)
    for nome_objeto, escola in escolas_dict.items():
        print(f"Nome do objeto: {nome_objeto}, PROFESSORES: {escola.lista_professores}, VAGAS: {escola.VAGAS}")
    print('-'*20)

In [144]:
# RODANDO APENAS PROFESSORES INTERNOS
for nome_objeto, escola in escolas_dict.items():

    for index, professor in professores_internos.iterrows():
        servidor = professor['SERVIDOR']
        jornada = professor['JORNADA']
        efetivo = professor['EFETIVO']
       
        if (escola.COD_DISCIPLINA == professor['COD_DISCIPLINA']) and (escola.COD_ESCOLA == professor['COD_ESCOLA']) and (escola.MUNICIPIO == professor['MUNICIPIO']):
            if professor['JORNADA'] != escola.CH_HORARIA:
                pass
            else:

                if servidor not in escola.lista_professores:
                    escola.lista_professores.append(servidor)

                else:
                    pass

for nome_objeto, escola in escolas_dict.items():
    print(f"Nome do objeto: {nome_objeto}, PROFESSORES: {escola.lista_professores}, VAGAS: {escola.VAGAS}")

Nome do objeto: escola_1_1_M_40, PROFESSORES: ['Professor 21'], VAGAS: 2
Nome do objeto: escola_1_2002_M_40, PROFESSORES: ['Professor 1'], VAGAS: 1
Nome do objeto: escola_1_2002_T_40, PROFESSORES: ['Professor 1'], VAGAS: 1
Nome do objeto: escola_1_2003_T_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_2_1_M_40, PROFESSORES: ['Professor 22'], VAGAS: 1
Nome do objeto: escola_2_2002_M_40, PROFESSORES: ['Professor 2'], VAGAS: 1
Nome do objeto: escola_2_2003_M_40, PROFESSORES: ['Professor 12'], VAGAS: 1
Nome do objeto: escola_3_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2002_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2003_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2002_M_20, PROFESSORES: ['Professor 4'], VAGAS: 1
Nome do objeto: escola_4_2002_T_20, PROFESSORES: ['Professor 4'], VAGAS: 1
Nome do objeto: escola_4_2002_N_20, PROFESSORES: ['Professor 4'], VAGAS: 1
Nome do objeto: escola_4_2003_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_5_1_M_40, PROFESSORES: ['Professor 23'], VAGAS: 1
Nome do objeto: escola_5_2002_M_40, PROFESSORES: ['Professor 3'], VAGAS: 1
Nome do objeto: escola_5_2003_M_40, PROFESSORES: ['Professor 13'], VAGAS: 1

In [145]:
# FAZENDO A LOTACAO
while True:
        # Mantém a flag para verificar se houve alocação em algum loop
    alocou = False
    desempate()
    
    for nome_objeto, escola in escolas_dict.items():
        # Verifica se a lista de professores não está vazia
        if escola.VAGAS > 0 and escola.lista_professores:
            # Obtendo o primeiro professor da lista
            professor = escola.lista_professores[0]
            for index, prof in base_professores.iterrows():
                if prof['SERVIDOR'] == professor:
                    servidor = prof['SERVIDOR']
                    jornada = prof['JORNADA']
                    efetivo = prof['EFETIVO']
                    
            # Criando um dicionário com os dados da escola e do professor
            dados = {
                'URE': escola.URE,
                'USE': escola.USE,
                'MUNICIPIO': escola.MUNICIPIO,
                'COD_ESCOLA': escola.COD_ESCOLA,
                'COD_MEC': escola.COD_MEC,
                'COD_SETOR': escola.COD_SETOR,
                'ESCOLA': escola.ESCOLA,
                'COD_DISCIPLINA': escola.COD_DISCIPLINA,
                'CH_HORARIA': escola.CH_HORARIA,
                'SERVIDOR': professor,  # Adiciona um professor por vez
                'TURNO': escola.TURNO,
                'EFETIVO': efetivo,
                'JORNADA': jornada
            }
            
            # Adicionando os dados do professor ao DataFrame professores_lotados
            professores_lotados = professores_lotados._append(dados, ignore_index=True)
            
            # Removendo o professor alocado da lista de professores
            escola.lista_professores.pop(0)
            
            # Verificações e ações adicionais dentro do while
            
            for objeto_verificado, escola_verificada in escolas_dict.items():
                if objeto_verificado != nome_objeto:  # Garante que não estamos verificando a mesma escola              
                    if professor in escola_verificada.lista_professores:
                        indice = escola_verificada.lista_professores.index(professor)
                        escola_verificada.lista_professores.pop(indice)
            
            # Subtraindo 1 da quantidade de vagas
            escola.VAGAS -= 1
            
            # Excluindo o professor alocado do DataFrame base_professores
            for index, servidor in professores_internos.iterrows():
                if professor == servidor['SERVIDOR']:
                    base_professores.drop(index, inplace=True)
                    break  # Interrompe o loop depois de encontrar e remover o professor
            
            # Marca que houve alocação nesta iteração do loop
            alocou = True
    
    # Se nenhum professor foi alocado em nenhum loop, encerra o processo
    if not alocou:
        break


display(professores_lotados)

for nome_objeto, escola in escolas_dict.items():
    print(f"Nome do objeto: {nome_objeto}, PROFESSORES: {escola.lista_professores}, VAGAS: {escola.VAGAS}")

--------------------
Nome do objeto: escola_1_1_M_40, PROFESSORES: ['Professor 21'], VAGAS: 2
Nome do objeto: escola_1_2002_M_40, PROFESSORES: ['Professor 1'], VAGAS: 1
Nome do objeto: escola_1_2002_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_1_2003_T_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_2_1_M_40, PROFESSORES: ['Professor 22'], VAGAS: 1
Nome do objeto: escola_2_2002_M_40, PROFESSORES: ['Professor 2'], VAGAS: 1
Nome do objeto: escola_2_2003_M_40, PROFESSORES: ['Professor 12'], VAGAS: 1
Nome do objeto: escola_3_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2002_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2003_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2002_M_20, PROFESSORES: ['Professor 4'], VAGAS: 1
Nome do objeto: escola_4_2002_T_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2002_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_5_1_M_40, PROFESSORES: ['Professor 23'], VAGAS: 1
Nome do objeto: escola_5_2002_M_40, PROFESSORES: ['Professor 3'], VAGAS: 1
Nome do objeto: escola_5_2003_M_40, PROFESSORES: ['Professor 13'], VAGAS: 1
--------------------
--------------------
Nome do objeto: escola_1_1_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_1_2002_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_1_2002_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_1_2003_T_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_2_1_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_2_2002_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_2_2003_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_3_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2002_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2003_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2002_M_20, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_4_2002_T_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2002_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_5_1_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_5_2002_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_5_2003_M_40, PROFESSORES: [], VAGAS: 0
--------------------

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,CH_HORARIA,SERVIDOR,TURNO,EFETIVO,JORNADA
0,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,40.0,Professor 21,M,SIM,40.0
1,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920914550000,EEEM ANDRE ALVES,2002,40.0,Professor 1,M,SIM,40.0
2,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,1,40.0,Professor 22,M,SIM,40.0
3,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,2002,40.0,Professor 2,M,SIM,40.0
4,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,2003,40.0,Professor 12,M,SIM,40.0
5,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2002,20.0,Professor 4,M,SIM,20.0
6,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,1,40.0,Professor 23,M,SIM,40.0
7,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2002,40.0,Professor 3,M,SIM,40.0
8,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2003,40.0,Professor 13,M,SIM,40.0

Nome do objeto: escola_1_1_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_1_2002_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_1_2002_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_1_2003_T_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_2_1_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_2_2002_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_2_2003_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_3_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2002_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_3_2003_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_1_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2002_M_20, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_4_2002_T_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2002_N_20, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_M_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_T_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_4_2003_N_40, PROFESSORES: [], VAGAS: 1
Nome do objeto: escola_5_1_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_5_2002_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_5_2003_M_40, PROFESSORES: [], VAGAS: 0

In [146]:
display(base_professores)

# CRIANDO AS LISTAS PARA LOTAÇÃO
for nome_objeto, escola in escolas_dict.items():

    for index, professor in base_professores.iterrows():

        if (escola.COD_DISCIPLINA == professor['COD_DISCIPLINA'])and (escola.MUNICIPIO == professor['MUNICIPIO']):
            if professor['JORNADA'] != escola.CH_HORARIA:
                pass
            else:
                servidor = professor['SERVIDOR']
                jornada = professor['JORNADA']
                efetivo = professor['EFETIVO']
                if servidor not in escola.lista_professores:
                    escola.lista_professores.append(servidor)

        else:
            pass
        
        #print(nome_objeto, escola.lista_professores)
        # ESCOLA.LISTA ADICIONA CADA PROFESSOR QUE CUMPRA OS REQUISITOS
        # LISTA ATUALIZADA COM RANKING (3, 9, 5, 6, 7, 8)



for nome_objeto, escola in escolas_dict.items():
    print(f"Nome do objeto: {nome_objeto}, PROFESSORES: {escola.lista_professores}, VAGAS: {escola.VAGAS}")

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,SERVIDOR,MATRICULA,...,CH_SEMANAL,CH_TOTAL,area_conhecimento,TURNO_N_APTO,TURNO_CONCENTRADO,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
7,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2002,Professor 8,5923338,...,3,39,NAO,N,M,5,1,3,2.0,1.0
17,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2003,Professor 18,5951393,...,3,39,NAO,NAO,T,5,1,3,2.0,1.0
13,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2003,Professor 14,5951389,...,3,39,NAO,NAO,T,4,3,2,NaN,NaN
27,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,1,Professor 28,5951403,...,3,39,NAO,N,M,5,1,3,2.0,1.0
23,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,1,Professor 24,5951399,...,3,39,NAO,NAO,T,4,3,2,NaN,NaN
5,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,2002,Professor 6,5936943,...,3,42,NAO,NAO,T,1,2,3,4.0,NaN
15,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,2003,Professor 16,5951391,...,3,42,NAO,NAO,M,1,2,3,4.0,NaN
25,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,1,Professor 26,5951401,...,3,42,NAO,NAO,M,1,2,3,4.0,NaN
14,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2003,Professor 15,5951390,...,3,18,SIM,NAO,N,4,2,5,NaN,NaN
4,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2002,Professor 5,5922696,...,3,18,SIM,NAO,M,4,2,5,NaN,NaN
26,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,1,Professor 27,5951402,...,3,39,SIM,NAO,M,2,4,1,NaN,NaN
16,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2003,Professor 17,5951392,...,3,39,SIM,NAO,M,2,4,1,NaN,NaN
6,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,Professor 7,5974417,...,3,39,SIM,NAO,T,2,4,1,NaN,NaN
24,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,1,Professor 25,5951400,...,3,18,SIM,NAO,T,4,2,5,NaN,NaN
10,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2003,Professor 11,5951386,...,4,44,SIM,N,M,1,2,3,NaN,NaN
9,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,Professor 10,5951385,...,3,39,SIM,NAO,M,4,3,2,1.0,NaN
29,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,1,Professor 30,5951405,...,3,39,SIM,NAO,N,4,3,2,1.0,NaN
18,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2003,Professor 19,5951394,...,3,33,SIM,NAO,T,1,2,3,4.0,5.0
19,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2003,Professor 20,5951395,...,3,39,SIM,NAO,M,4,3,2,1.0,NaN
28,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,1,Professor 29,5951404,...,3,33,SIM,N,T,1,2,3,4.0,5.0
8,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,Professor 9,5951384,...,3,33,SIM,NAO,M,1,2,3,4.0,5.0

Nome do objeto: escola_1_1_M_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_1_2002_M_40, PROFESSORES: ['Professor 8', 'Professor 5', 'Professor 9'], VAGAS: 0
Nome do objeto: escola_1_2002_T_40, PROFESSORES: ['Professor 8', 'Professor 5', 'Professor 9'], VAGAS: 1
Nome do objeto: escola_1_2003_T_20, PROFESSORES: ['Professor 14', 'Professor 16', 'Professor 17', 'Professor 20'], VAGAS: 1
Nome do objeto: escola_2_1_M_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 0
Nome do objeto: escola_2_2002_M_40, PROFESSORES: ['Professor 8', 'Professor 5', 'Professor 9'], VAGAS: 0
Nome do objeto: escola_2_2003_M_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 0
Nome do objeto: escola_3_1_N_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_3_2002_N_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 1
Nome do objeto: escola_3_2003_N_20, PROFESSORES: ['Professor 14', 'Professor 16', 'Professor 17', 'Professor 20'], VAGAS: 1
Nome do objeto: escola_4_1_M_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_4_1_T_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_4_1_N_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_4_2002_M_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 0
Nome do objeto: escola_4_2002_T_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 1
Nome do objeto: escola_4_2002_N_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 1
Nome do objeto: escola_4_2003_M_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 1
Nome do objeto: escola_4_2003_T_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 1
Nome do objeto: escola_4_2003_N_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 1
Nome do objeto: escola_5_1_M_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 0
Nome do objeto: escola_5_2002_M_40, PROFESSORES: ['Professor 8', 'Professor 5', 'Professor 9'], VAGAS: 0
Nome do objeto: escola_5_2003_M_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 0

In [147]:
def lotacaoGeral():
    global professores_lotados
    
    while True:
        # Mantém a flag para verificar se houve alocação em algum loop
        alocou = False
        
        desempate()
        for nome_objeto, escola in escolas_dict.items():
            # Verifica se a lista de professores não está vazia
            if escola.VAGAS > 0 and escola.lista_professores:
                # Obtendo o primeiro professor da lista
                professor = escola.lista_professores[0]
                print(professor)
                for index, prof in base_professores.iterrows():
                    if prof['SERVIDOR'] == professor:
                        servidor = prof['SERVIDOR']
                        jornada = prof['JORNADA']
                        efetivo = prof['EFETIVO']
                        
                # Criando um dicionário com os dados da escola e do professor
                dados = {
                    'URE': escola.URE,
                    'USE': escola.USE,
                    'MUNICIPIO': escola.MUNICIPIO,
                    'COD_ESCOLA': escola.COD_ESCOLA,
                    'COD_MEC': escola.COD_MEC,
                    'COD_SETOR': escola.COD_SETOR,
                    'ESCOLA': escola.ESCOLA,
                    'COD_DISCIPLINA': escola.COD_DISCIPLINA,
                    'CH_HORARIA': escola.CH_HORARIA,
                    'SERVIDOR': professor,  # Adiciona um professor por vez
                    'TURNO': escola.TURNO,
                    'EFETIVO': efetivo,
                    'JORNADA': jornada
                }
                
                # Adicionando os dados do professor ao DataFrame professores_lotados
                professores_lotados = professores_lotados._append(dados, ignore_index=True)
                
                # Removendo o professor alocado da lista de professores
                escola.lista_professores.pop(0)
                
                # Verificações e ações adicionais dentro do while
                
                for objeto_verificado, escola_verificada in escolas_dict.items():
                    if objeto_verificado != nome_objeto:  # Garante que não estamos verificando a mesma escola              
                        if professor in escola_verificada.lista_professores:
                            indice = escola_verificada.lista_professores.index(professor)
                            escola_verificada.lista_professores.pop(indice)
                
                # Subtraindo 1 da quantidade de vagas
                escola.VAGAS -= 1
                
                # Excluindo o professor alocado do DataFrame base_professores
                for index, servidor in base_professores.iterrows():
                    if professor == servidor['SERVIDOR']:
                        base_professores.drop(index, inplace=True)
                        break  # Interrompe o loop depois de encontrar e remover o professor
                
                # Marca que houve alocação nesta iteração do loop
                alocou = True
        
        # Se nenhum professor foi alocado em nenhum loop, encerra o processo
        if not alocou:
            break

In [148]:

for nome_objeto, escola in escolas_dict.items():
    
    # Iterando sobre cada professor na lista de professores da escola
    while escola.VAGAS >= 0 and escola.lista_professores:
        #desempate()
        lotacaoGeral()

Nome do objeto: escola_1_1_M_40, PROFESSORES: ['Professor 28', 'Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_1_2002_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_1_2002_T_40, PROFESSORES: ['Professor 8', 'Professor 5', 'Professor 9'], VAGAS: 1
Nome do objeto: escola_1_2003_T_20, PROFESSORES: ['Professor 16', 'Professor 17', 'Professor 20'], VAGAS: 1
Nome do objeto: escola_2_1_M_40, PROFESSORES: [], VAGAS: 0
Nome do objeto: escola_2_2002_M_40, PROFESSORES: ['Professor 5', 'Professor 9'], VAGAS: 0
Nome do objeto: escola_2_2003_M_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 0
Nome do objeto: escola_3_1_N_40, PROFESSORES: ['Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_3_2002_N_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 1
Nome do objeto: escola_3_2003_N_20, PROFESSORES: ['Professor 14', 'Professor 16', 'Professor 17', 'Professor 20'], VAGAS: 1
Nome do objeto: escola_4_1_M_40, PROFESSORES: ['Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_4_1_T_40, PROFESSORES: ['Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_4_1_N_40, PROFESSORES: ['Professor 25', 'Professor 29'], VAGAS: 1
Nome do objeto: escola_4_2002_M_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 0
Nome do objeto: escola_4_2002_T_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 1
Nome do objeto: escola_4_2002_N_20, PROFESSORES: ['Professor 6', 'Professor 7', 'Professor 10'], VAGAS: 1
Nome do objeto: escola_4_2003_M_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 1
Nome do objeto: escola_4_2003_T_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 1
Nome do objeto: escola_4_2003_N_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 1
Nome do objeto: escola_5_1_M_40, PROFESSORES: ['Professor 25', 'Professor 29'], VAGAS: 0
Nome do objeto: escola_5_2002_M_40, PROFESSORES: ['Professor 5', 'Professor 9'], VAGAS: 0
Nome do objeto: escola_5_2003_M_40, PROFESSORES: ['Professor 18', 'Professor 15', 'Professor 11', 'Professor 19'], VAGAS: 0
Professor 25 preferencias:  1 0 --- escola_5_2003_M_40 escola_4_1_M_40

IndexError: pop from empty list

In [ ]:

professores_lotados = professores_lotados.sort_values(by='COD_ESCOLA', ascending=True)
display(professores_lotados)
#professores_lotados.to_excel('LotacaoProfessores.xlsx', index=False)

with pd.ExcelWriter('lotacao.xlsx') as writer:
    professores_lotados.to_excel(writer, sheet_name='Lotação', index=False)
    base_professores.to_excel(writer, sheet_name='Não Lotados', index=False)

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,CH_HORARIA,SERVIDOR,TURNO,EFETIVO,JORNADA
0,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,40.0,Professor 21,M,SIM,40.0
1,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920914550000,EEEM ANDRE ALVES,2002,40.0,Professor 1,T,SIM,40.0
9,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920914550000,EEEM ANDRE ALVES,1,40.0,Professor 28,M,SIM,40.0
10,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920914550000,EEEM ANDRE ALVES,2003,20.0,Professor 16,T,SIM,20.0
2,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,1,40.0,Professor 22,M,SIM,40.0
3,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,2002,40.0,Professor 2,M,SIM,40.0
4,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920928040000,EEEM BENEDITO CARDOSO DE ATHAYDE,2003,40.0,Professor 12,M,SIM,40.0
11,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,1,40.0,Professor 25,N,SIM,40.0
12,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,20.0,Professor 6,N,SIM,20.0
13,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2003,20.0,Professor 14,N,SIM,20.0
5,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2002,20.0,Professor 4,N,SIM,20.0
14,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,2003,40.0,Professor 18,N,SIM,40.0
6,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,1,40.0,Professor 23,M,SIM,40.0
7,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2002,40.0,Professor 3,M,SIM,40.0
8,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2003,40.0,Professor 13,M,SIM,40.0

In [ ]:
display(base_professores)

,URE,USE,MUNICIPIO,COD_ESCOLA,COD_MEC,COD_SETOR,ESCOLA,COD_DISCIPLINA,SERVIDOR,MATRICULA,...,DISCIPLINA,CH_SEMANAL,CH_TOTAL,area_conhecimento,TURNO_N_APTO,PREFERENCIA 1,PREFERENCIA 2,PREFERENCIA 3,PREFERENCIA 4,PREFERENCIA 5
7,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2002,Professor 8,5923338,...,GEOGRAFIA,3,39,NAO,NaN,5,1,3,2.0,1.0
23,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,1,Professor 24,5951399,...,MATEMATICA,3,39,NAO,NaN,4,3,2,NaN,NaN
25,01A URE - BRAGANCA,NaN,BRAGANCA,2,15550079,1920930000000,EE BENEDITO CARDOSO DE ATAYDE,1,Professor 26,5951401,...,MATEMATICA,3,42,NAO,NaN,1,2,3,4.0,NaN
14,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2003,Professor 15,5951390,...,HISTORIA,3,18,SIM,NaN,4,2,5,NaN,NaN
4,01A URE - BRAGANCA,NaN,BRAGANCA,5,15057046,1920914340000,EEEFM DO ROCHA,2002,Professor 5,5922696,...,GEOGRAFIA,3,18,SIM,NAO,4,2,5,NaN,NaN
26,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,1,Professor 27,5951402,...,MATEMATICA,3,39,SIM,NaN,2,4,1,NaN,NaN
16,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2003,Professor 17,5951392,...,HISTORIA,3,39,SIM,NaN,2,4,1,NaN,NaN
6,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,Professor 7,5974417,...,GEOGRAFIA,3,39,SIM,NaN,2,4,1,NaN,NaN
10,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2003,Professor 11,5951386,...,HISTORIA,4,44,SIM,NaN,1,2,3,NaN,NaN
9,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,Professor 10,5951385,...,GEOGRAFIA,3,39,SIM,NaN,4,3,2,1.0,NaN
29,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,1,Professor 30,5951405,...,MATEMATICA,3,39,SIM,NaN,4,3,2,1.0,NaN
18,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2003,Professor 19,5951394,...,HISTORIA,3,33,SIM,NaN,1,2,3,4.0,5.0
19,01A URE - BRAGANCA,NaN,BRAGANCA,1,15055582,1920910000000,EE ANDRE ALVES,2003,Professor 20,5951395,...,HISTORIA,3,39,SIM,NaN,4,3,2,1.0,NaN
28,01A URE - BRAGANCA,NaN,BRAGANCA,4,15057291,1920913530000,EEEF PATALINO,1,Professor 29,5951404,...,MATEMATICA,3,33,SIM,NaN,1,2,3,4.0,5.0
8,01A URE - BRAGANCA,NaN,BRAGANCA,3,15056651,1920932310000,EEEF JOAO PAULO II,2002,Professor 9,5951384,...,GEOGRAFIA,3,33,SIM,NaN,1,2,3,4.0,5.0

In [ ]:
# #

# for nome_objeto, escola in escolas_dict.items():
#     try:
#         professor = escola.lista_professores[0]
#         carencia = len(escola.lista_professores) - escola.VAGAS
#         print("Lista de professores:", escola.lista_professores)
#         print("Primeiro professor:", professor)
        
#         for objeto_verificado, escola_verificada in escolas_dict.items():
#             if objeto_verificado != nome_objeto:  # Garante que não estamos verificando a mesma escola

#                 if professor in escola_verificada.lista_professores:
#                     indice = escola_verificada.lista_professores.index(professor)
#                     carencia_verificada = len(escola_verificada.lista_professores) - escola_verificada.VAGAS
#                     print(f"O professor {professor} está presente na lista de professores de {objeto_verificado} no índice {indice} e com vagas: {escola_verificada.VAGAS} e {len(escola_verificada.lista_professores)} disponiveis")

#                     if indice > 0:
#                         if carencia_verificada != 0:
#                             escola_verificada.lista_professores.pop(indice)
#                         elif carencia_verificada == 0 and carencia < 0:
#                             escola.lista_professores.pop(0)
                    
#                     else:

#                         for index, servidor in base_professores.iterrows():
#                             if professor == servidor['SERVIDOR']:
#                                 preferencias = [base_professores.at[index, f'PREFERENCIA {i}'] for i in range(1, 6)]

#                                 try:
#                                     escola1 = preferencias.index(escola.COD_ESCOLA)
#                                 except ValueError:
#                                     try:
#                                         escola2 = preferencias.index(escola_verificada.COD_ESCOLA)
#                                     except ValueError:
#                                         if carencia_verificada != 0:
#                                             escola_verificada.lista_professores.pop(indice)
#                                         elif carencia_verificada == 0 and carencia < 0:
#                                             escola.lista_professores.pop(0)
#                                     escola.lista_professores.pop(0)              
#                                 try:
#                                     escola2 = preferencias.index(escola_verificada.COD_ESCOLA)
#                                 except ValueError:
#                                     escola_verificada.lista_professores.pop(indice)

#                         print(preferencias, escola.COD_ESCOLA, escola_verificada.COD_ESCOLA)


#     except IndexError:
#         pass  # Trata exceção caso a lista de professores esteja vazia ou não tenha índice 0


# for nome_objeto, escola in escolas_dict.items():
#     print(f"Nome do objeto: {nome_objeto}, PROFESSORES: {escola.lista_professores}, VAGAS: {escola.VAGAS}")